doctype html
html 
    head 
        title= ` Update Custom Object Form | Integrating With HubSpot I Practicum.`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body  
    h1 Contact Object Table 

    a(href="/update-cobj") Add New Record
    table(border="1" cellpadding="10" cellspacing="0")
        thead
            tr
                th First Name
                th Last Name
                th Email Address
        tbody
            each result in data
                tr
                    td= result.firstname
                    td= result.lastname
                    td= result.email 